*{
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#header{
    position: absolute;
    z-index: 10;
    height: 150px;
    /* width: 100%; */
}


@media (min-width:319px) and (max-width: 350px){
    .brand{
        border-radius: 100%;
        border: 3px;
        height: 180px;
        width: 180px;

    }
}


.brand {
    border-radius: 100%;
    border: 3px solid black;
}


.nav-item{
    font-weight: 600;
    text-transform: uppercase;
    padding-left: 50px;
}

.nav-link{
    color: white !important;
    letter-spacing: 2px;
    font-size: 1em;
    font-weight: 900;
}

.nav-link:hover{
    background: white !important;
    color: black!important;
    border-radius: 5px;
    transition: all 0.6s ease 0s;
}

.main{
    position: relative;
    background: url(background-img.jpg);
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    padding: 280px 0 220px;
}



.main h2{
    font-size: 2.6em;
    color: #dcdde1;
    text-transform: uppercase;
    font-weight: bold;
    
}

.main p{
    margin-top: 1em;
    padding: 0;
    font-size: 16px;
    color: white;
    padding-bottom: 25px;
}

.main .readMore{
    background-color: rgb(29, 29, 91);
    color: white;
    border-radius: 5px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;

}


.backgound{
    background: linear-gradient(to top, rgb(29,29,91), rgb(71, 0, 0) );
    height: 380px;
    padding-bottom: 40px;
}


.main-container2 {
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 105px;
    height: 300px;
}

.container2{
    background-color: white;
    border: 4px solid black;
    border-radius: 30px;
    height: 300px;
    width: 80%;
    padding: 30px 30px 30px 30px;
}

.container-txt {
   
    padding: 0px 10px;

}

.con2 {
    text-align: center;
    padding: 10px 0px 10px 0px;
    width: 200px;
    border-radius: 100px 100px;
    color: white;
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container3 {
    display: flex;
    justify-content: center;;
}

.container2 {
    height: 260px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.container-txt {
    grid-column: 1/3;
    grid-row: 1/2;
}

.container3 {
    grid-column: 1/3;
    grid-row: 3/4;
}


.p2{
    margin-top: 1em;
    padding: 0;
    font-size: 16px;
}

.h2{
    font-weight: 600;
}

@media (min-width:279px) and (max-width:301px){
    .container2{
        height: 300px;
        padding: 20px 20px 0px 20px;
    }
    
    .h2{
        font-size: medium;
    }

    .p2{
        padding: 0px;
        font-size: small;
    }

    .con2{
        padding: 4px 5px;
        margin: 5px;
        font-size: small;
    }

    .container3{
        grid-column:1/3;
        grid-row: 2/3;
    }
}

@media (min-width:301px) and (max-width:330px){
    .container2{
        height: 320px;
        padding: 20px 20px 0px 20px;
    }
    
    .h2{
        font-size: large;
    }

    .p2{
        padding: 0px;
        font-size: small;
    }

    .con2{
        padding: 5px 8px;
        margin: 5px;
        font-size: small;
    }

    .container3{
        grid-column:1/3;
        grid-row: 2/3;
    }
}


@media (min-width:330px) and (max-width:425px){
    .container2{
        height: 350px;
        padding: 20px 20px 0px 20px;
    }
    
    .p2{
        padding: 0px;
    }

    .con2{
        padding: 5px 10px;
        font-size: small;
    }

    .container3{
        grid-column:1/3;
        grid-row: 2/3;
    }
}

@media (min-width: 425px) and (max-width: 500px){
    .container2{
        height: 280px;
        padding: 20px 20px 0px 20px;
    }
    
    .p2{
        padding: 0px;
    }

    .con2{
        padding:2px 7px 2px 7px ;
        
    }

    .container3{
        grid-column:1/3;
        grid-row: 2/3;
    }
}

@media (min-width: 500px) and (max-width: 768px){
    .container2{
        height: 280px;
        padding: 20px 20px 0px 20px;
    }
    
    .p2{
        padding: 0px;
    }

    .con2{
        padding: 5px 0px 0px 0px;
        
    }

    .container3{
        grid-column:1/3;
        grid-row: 3/4;
    }
}

.howworks{
    background-image: url('cops.jpg');
    background-size: cover;
    padding-top: 100px;
    opacity: 1;
    display: flex;
    text-align: center;
    top: 20px;
    border: 0;
    height: 360px;
    border-bottom: 10px solid rgb(29, 29, 91);
}

.how{
    /* border-bottom: 4px solid darkgray; */
    padding-top: 100px;
}

.love{background-size: cover;

}

.imagine{
    background-image: url('cops.jpg');
    background-size: cover;
    height: 300px;
    display: flex;
    margin: 20px 50px; 
    border-radius: 15px;
}

.featured{
    display: flex;
    justify-content: center;
    padding-top: 100px;
    color: rgb(25, 23, 23);
    background: linear-gradient(to top, white, gray);
    height: 250px;
    border-top: 15px solid gray;
}

.fead{
    display: flex;
    /* flex-wrap: wrap;
    margin: 20px;
    background: linear-gradient(to top, gray, white);
    padding: 10px 80px ;
    border-radius: 25px;
    border-top: 2px solid rgb(29, 29, 91);
    border-bottom: 2px solid rgb(29, 29, 91); */
}


@media(min-width:315px) and (max-width:500px){
    .fead{
        display: flex;
        /* flex-wrap: wrap;
        margin: 20px;
        background: linear-gradient(to top, gray, white);
        padding: 10px 20px ;
        border-radius: 25px;
        border-top: 2px solid rgb(29, 29, 91);
        border-bottom: 2px solid rgb(29, 29, 91); */
    }
    
}

.gridbox{
    display: flex;
    border: 0px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 200px;
    padding-top: 50px;
}

.box{
    background-color: rgb(208, 208, 208);
    height: 600px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    border-radius: 25px;
    border-top: 3px solid rgb(29, 29, 91);
    border-bottom: 35px solid rgb(29, 29, 91);
    border-left: 0px solid rgb(29, 29, 91);
    border-right: 1px solid rgb(29, 29, 91);
}   

.grid{
    width: 100%;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    grid-auto-rows: auto;
}

.online-head{
    padding-top: 3px;
    padding-bottom: 3px;
    display: flex;
    justify-content: center;
    color: white;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.conte{
    padding-left: 10px;
    padding-right: 10px;
    margin: 10px;
}

.pogi{
    display: flex;
    justify-content: center;
    margin-left: 50px;
    margin-right: 50px;
    position: relative;
    bottom: 15px;
    border-radius: 25px;
    color: white;
    background-color: gray;
}

.tec{
    background-color: gray;
    background-image: url('wood.jpg');
    background-size: cover;
    align-items: center;
    display: flex;
    justify-content: center;
    /* border-top: 15px solid rgb(29, 29, 91); */
    /* border-radius:25px 25px 0px 0px ; */
    /* background-color: rgb(29, 29, 91); */
    color: white;
    padding: 50px 0;
    height: 400px;
    /* margin: 20px; */
    /* margin-left: 100px;
    margin-right: 100px; */
}

.ten{
    /* background-color: #d4d2d2; */
    padding: 20px 50px;
    color: white;
    border-radius: 25px;
    /* border-top: 5px solid rgb(29, 29, 91);
    border-bottom: 5px solid rgb(29, 29, 91); */
    margin: 20px;
}

.contains{
    /* background-image: url('ad.jpg'); */
    /* background-size: cover; */
    background-color: white;
    display: flex;    
    justify-content: space-evenly;
    flex-wrap: wrap;
    /* border-top: 100px solid gray; */
    /* border-bottom: 400px solid gray; */
    padding: 50px 0px 150px 0px;
    background: linear-gradient(to top, white, gray);
}

.card{
    background-color: rgb(210, 209, 209);
    width: 605px;
    height: 905px;
    margin: 20px;
    border-radius: 15px;
    border: 3px  outset rgb(29, 29, 91);
    border-right: 5px inset rgb(29, 29, 91);
    border-bottom: solid  25px rgb(29, 29, 91);
}

@media(min-width:315px) and (max-width:770px){
    .card{
    background-color: whitesmoke;
    width: 305px;
    height: 805px;
    margin: 20px;
    border-radius: 15px;
    border: 3px  outset rgb(29, 29, 91);
    border-right: 5px inset rgb(29, 29, 91);
    border-bottom: solid  25px rgb(29, 29, 91);
    }
    .card-image{
        height: 700px;
    }
}

@media(min-width:775px) and (max-width:1025px){
    .card{
        background-color: whitesmoke;
        width: 450px;
        height: 805px;
        margin: 20px;
        border-radius: 15px;
        border: 3px  outset rgb(29, 29, 91);
        border-right: 5px inset rgb(29, 29, 91);
        border-bottom: solid  25px rgb(29, 29, 91);
        }
        .card-image{
            height: 700px;
        }
}

@media(min-width:1026px) and (max-width:1440px){
    .card{
        background-color: whitesmoke;
        width: 650px;
        height: 905px;
        margin: 20px;
        border-radius: 15px;
        border: 3px  outset rgb(29, 29, 91);
        border-right: 5px inset rgb(29, 29, 91);
        border-bottom: solid  25px rgb(29, 29, 91);
        }
        .card-image{
            height: 900px;
        }
}

.card-image{
    height: 600px;
    margin-bottom: 15px;
    background-size: cover;
    border-radius: 20px 20px 0 0;
    background-size: cover;
    bottom: 20px;
    padding-left: 20px;
    margin: 0px;
    border-top: 25px rgb(29, 29, 91)solid;
    
    /* border-bottom: 15px rgb(29, 29, 91)solid; */
}

.logos{
    background-image: url('scope.jpg');
    padding: 10px 20px 50px 10px;
    /* border-bottom: 10px gray solid; */
    /* border-bottom: 4px color(rgb(25, 24, 24)); */
}

.logos2{
    background-image: url('arch.jpg');
    padding: 10px 20px 50px 10px;

}

.par{
    padding: 30px;

}
.h{
    margin-left: 30px;
    padding-top: 20px;
}


.logg{
    border-radius: 100%;
    margin-bottom: 30px;
}

footer{
    width: 100%; 
    /* position: absolute; */
    bottom: 0;
    background: linear-gradient(to right, #00093c, rgb(79, 28, 28));
    color: #fff;
    padding: 100px 0 30px;
    border-top-left-radius: 125px;
    font-size: 13px;
    line-height: 20px;

}

.rows{
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.cols{
    flex-basis: 25%;
    padding: 10px;
}

.cols:nth-child(2), .cols:nth-child(3){
    flex-basis: 20%;
}


.cols h3{
    width: fit-content;
    font-size: 15px;
}

.email-id{
    width: fit-content;
    border-bottom: 1px solid #ccc;
    margin: 15px 0;
}

ul li{
    list-style: none;
    margin-bottom: 12px;
}

form{
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    margin-bottom: 50px;
}

form .fa-solid{
    font-size: 18px;
    margin-right: 10px;
}

form input{
    width: 100%;
    background: transparent;
    color: #ccc;
    border: 0;
    outline: none;
}

form button{
    background: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
}

form button .fa-sharp{
    font-size: 16px;
    color: #ccc;
}

.social-icons .fa-brands{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    color: #000;
    background: #fff;
    margin-right: 15px;
    cursor: pointer;
}

hr{
    width: 90%;
    border: 0;
    border-bottom: 1px solid #ccc;
    margin: 20px auto;
}

.copyrights{
    text-align: center;
}

/* .underline{
    width: 100%;
    height: 5px;
    background: #767676;
    border-radius: 3px;
    position: absolute;
    top: 25px;
    left: 0;

} */
.tubig{
    border-bottom: 5px solid gray;
    padding-bottom: 5px;
    border-radius: 3px;
    
}

@media (max-width: 700px){
    .cols{
        flex-basis: 100%;
        padding: 10px;
    }
    
    .cols:nth-child(2), .cols:nth-child(3){
        flex-basis: 100%;
    }
}